dtd/recensioni.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT recensioni (recensione*)>
<!ELEMENT recensione (username, codice_gioco, testo, data, giudizi*)>
<!ELEMENT username (#PCDATA)>
<!ELEMENT codice_gioco (#PCDATA)>
<!ELEMENT testo (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT giudizi (giudizio*)>
<!ELEMENT giudizio (username_votante, stelle)>
<!ELEMENT username_votante (#PCDATA)>
<!ELEMENT stelle (#PCDATA)>
<!ATTLIST recensione id CDATA #REQUIRED>